* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(14, 12, 31, 1) 15%, rgba(79, 67, 188, 1) 100%);
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.6rem;
    background-color: #0e0c1f;
    border: 3px solid #3f43bc;
    width: 30vw;
    height: 65vh;
    border-radius: 100px;
    animation-name: blueLight;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#login-form {
    font-size: 30px;
    color: #68e0cc;
    margin-bottom: 15px;
    font-weight: bold;
}
label {
    color: #68e0cc;
}
[type='text'],
[type='password'] {
    border: 2px solid #68e0cc;
    border-radius: 2rem;
    padding: 1.5% 4%;
    width: 50%;
    background-color: #0e0c1f;
    text-align: center;
    color: #68e0cc;
    transition-property: filter;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
a {
    color: #68e0cc;
    position: relative;
    text-decoration: none;
}

[type='text']:focus,
[type='password']:focus {
    outline: none;
    filter: drop-shadow(0 0 20px #68e0cc);
}

[type='submit'] {
    width: 40%;
    border: 2px solid #68e0cc;
    border-radius: 2rem;
    padding: 1.5% 4%;
    background-color: #0e0c1f;
    text-align: center;
    color: #68e0cc;
}

[type='submit']:hover {
    filter: drop-shadow(0 0 20px #68e0cc);
    color: #3f43bc;
    transition: 1s ease-in;
    cursor: pointer;
    width: 45%;
}

a:hover::after{
    position: absolute;
    content: '';
    height: 2px;
    background-color: #68e0cc;
    opacity: 1;
    width: 100%;
    top: 100%;
    left: 0;
    cursor: pointer;
    font-weight: bold;
}

@keyframes blueLight {
    0% {
        filter: drop-shadow(0 0 0 #3f43bc);
    }
    50% {
        filter: drop-shadow(0 0 40px #3f43bc);
    }
    100% {
        filter: drop-shadow(0 0 0 #3f43bc);
    }
}